body {

  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
:root {
  --heading: #1e90ff;
  --white: #ffffff;
  --title: #707070;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.heading{
  font-weight: bold;
  text-transform: uppercase;
  color: var(--heading);
}

.border-right{
  border-right: 2px solid grey;
  transition:all 0.3s linear;
}
.border-up{
  border-top: 2px solid grey;
  transition:all 0.3s linear;
}

.border-down{
  border-bottom: 2px solid grey;
  transition:all 0.3s linear;
}

.border-left{
  border-left: 2px solid grey;
  transition:all 0.3s linear;
}



